* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.flex {
  display: flex;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-justify-content-start {
  justify-content: flex-start;
}

.flex-justify-content-space-b {
  justify-content: space-between;
}

.border-radius-8 {
  border-radius: 8px;
}

.margin-bottom {
  margin-bottom: 16px;
}
