.tooltip {
  width: 120px;
  min-height: 80px;
  position: absolute;
  border-radius: 4px;
  padding: 0.5em;
  z-index: 10000;
  word-break: break-word;
}

.primary {
  background-color: lightgreen;
}

.secondary {
  background-color: lightblue;
}

.dark {
  background-color: darkblue;
}

.light {
  background-color: yellow;
}

.accent {
  background-color: aliceblue;
}

.top::before,
.bottom::before,
.right::before,
.left::before {
  content: "";
  position: absolute;
  background-color: darkgreen;
}

.left::before,
.right::before {
  width: 15px;
  height: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.right {
  left: calc(100% + 15px);
}

.right::before {
  right: 100%;
  clip-path: polygon(0 50%, 100% 0, 100% 100%);
}

.top::before,
.bottom::before {
  width: 15px;
  height: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.top {
  bottom: calc(100% + 15px);
}

.top::before {
  top: 100%;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.bottom {
  top: calc(100% + 15px);
}

.bottom::before {
  bottom: 100%;
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

.left {
  right: calc(100% + 15px);
}

.left::before {
  left: 100%;
  clip-path: polygon(100% 50%, 0 0, 0 100%);
}
